/*********************************
 * Fonts
 ********************************/
/*** Inter ***/
@font-face {
    font-family: Inter;
    src: url(fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

/*** Inter ***/
@font-face {
    font-family: "IBM Plex Mono";
    src: url("./fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/*********************************
 * Allgemeines
 ********************************/
:root {
    /***** Farben *****/
    /*** Standart ***/
    --color-darker-white: #FAFAFA;
    --color-primary-blue: #0A369D;
    --color-secondary-blue: #4472CA;
    --color-tertiary-blue: #5E7CE2;
    --color-light-blue: #CFDEE7;
    --color-gray: #888888;
    --color-black: #000000;
    --color-white: #ffffff;

    /***** Fonts *****/
    --font-inter: Inter;
    --font-IBM: "IBM Plex Mono";
    --font-size-huge: 80px;
    --font-size-xl: 32px;
    --font-size-l: 27px;
    --font-size-m: 22px;
    --font-size-s: 18px;
    --font-letterspacing: 25%;

    /***** Boxen *****/
    --border-radius: 10px;
    --page-width: 960px;
    --area-minHeight: 410px;

    /*** margins ***/
    --margin-bottom: 100px;
    --margin-bottom-small: 50px;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0px;
    padding: 0px;
    background-color: var(--color-white);
    font-family: var(--font-inter);
}

#stage {
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
}

/*********************************
 * Überschrifte / Texte
 ********************************/
h1 {
    font-family: var(--font-IBM);
    font-size: var(--font-size-xl);
    color: var(--color-black);

    margin: 0px;
}

h2 {
    font-family: var(--font-inter);
    font-size: var(--font-size-l);
    color: var(--color-primary-blue);
    letter-spacing: var(--font-letterspacing);

    margin: 0px;
}

h3 {
    font-family: var(--font-inter);
    font-size: var(--font-size-m);
    color: var(--color-black);
    font-weight: bold;

    margin: 0px;
}

.text {
    font-family: var(--font-inter);
    font-size: var(--font-size-s);
    color: var(--color-gray);

    margin: 0px;
}

/*** seperater ***/
.seperate-s {
    stroke: 2px;
    margin-bottom: 50px;
}

.seperate-l {
    stroke-width: 2px;
    margin-bottom: var(--margin-bottom);
}

.seperate-m {
    stroke-width: 2px;
    margin-bottom: 500px;
}

/*********************************
 * logo
    <div class="logo">
        Snow<span>trickr®</span>
    </div>
 ********************************/
.logo {
    color: var(--color-black);

    font-family: var(--font-IBM);
    font-weight: bold;
    font-size: var(--font-size-s);

    display: flex;
    gap: 0px;
}

.logo span {
    color: var(--color-primary-blue);
}

/*** logo animation ***/
.logo-row {
    display: flex;
    gap: 5%;
    position: relative;
    left: 0%;
}

.logo-row>* {
    font-size: var(--font-size-huge);
    text-transform: uppercase;
}

.logo-row-goRight {
    animation: moveLogo 10s linear reverse infinite;
}

.logo-row-goLeft {
    animation: moveLogo 10s linear infinite;
}

@keyframes moveLogo {
    from {
        left: 0;
    }

    to {
        left: -60%;
    }
}

/*********************************
 * Nav
 ********************************/
#nav {
    width: var(--page-width);
    margin: 0px auto;
    padding-top: 1%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-right {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
}

#nav-left {
    width: 40%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#aktivePage {
    font-weight: bold;
    color: var(--color-black) !important;
}

#nav-left a {
    text-decoration: none;
    color: var(--color-gray);
}

#nav-left a:hover {
    text-decoration: underline;
}

/*********************************
 * Container
 ********************************/
#container {
    width: var(--page-width);
    margin: 0px auto;
}

.area {
    width: 100%;
    margin-bottom: var(--margin-bottom);
    min-height: var(--area-minHeight);
}

/*********************************
 * Boxen
 ********************************/
/***** Button *****/
.button {
    width: fit-content;

    background-color: var(--color-secondary-blue);
    color: var(--color-white);

    padding: 2%;

    border-radius: var(--border-radius);
    text-decoration: none;

    transition: all 0.15s;
}

.button:hover {
    transform: scale(1.1);
}

.button:active {
    transform: scale(1);
}

/***** Big img *****/
.box-bigImg {
    aspect-ratio: 8 / 5;
    width: 100%;
    object-fit: cover;
    background: lightgray;
    border-radius: var(--border-radius);
}

/***** text *****/
.box-text {
    width: 55%;
    margin-top: 2%;
}

.box-text>* {
    margin-bottom: 2%;
}

/*********************************
 * Footer
 ********************************/
#footer {
    margin-bottom: var(--margin-bottom);
}

#footer-nav {
    display: flex;
    justify-content: space-between;
}

/*** footer-infos ***/
#footer-infos {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footer-info {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10%;
    color: var(--color-gray);
}

.footer-info .fh {
    color: var(--color-black);
    font-weight: bold;
}


/*********************************************************************************************************************************
 * Responsive
 ********************************************************************************************************************************/
/********** Tablet **********/
@media (max-width: 1199px) {
    :root {
        --font-size-huge: 80px;
        --font-size-xl: 30px;
        --font-size-l: 25px;
        --font-size-m: 20px;
        --font-size-s: 16px;

        /***** Boxen *****/
        --page-width: 770px;
        --area-minHeight: 310px;

        /*** margins ***/
        --margin-bottom: 80px;
    }
}

/********** Handy **********/
/* Handy (unter 480px) */
@media (max-width: 809px) {
    :root {
        --font-size-huge: 80px;
        --font-size-xl: 30px;
        --font-size-l: 25px;
        --font-size-m: 20px;
        --font-size-s: 16px;

        /***** Boxen *****/
        --page-width: 350px;
        --area-minHeight: 210px;

        /*** margins ***/
        --margin-bottom: 80px;
    }

    /*********************************
    * Nav
    ********************************/
    #nav-left .logo {
        width: 100%;
    }

    #nav-left {
        width: 60%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    /***** Big img *****/
    /***** text *****/
    .box-text {
        width: 90%;
    }

    /*********************************
    * Footer
    ********************************/
    #footer-nav {
        flex-direction: column;
    }

    /*** footer-infos ***/
    #footer-infos {
        margin-top: 2%
    }

}