/*********************************
 * Header
 ********************************/
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

/*** slang ***/
#slangs {
    height: 60px;
    overflow: hidden;
}

#slang{
    position: relative;
    top: 0px;

    display: flex;
    flex-direction: column;
    gap: 0px;

     /* Chati Background */
    background: linear-gradient(45deg, #0A369D 0%, #92B4F4 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;

    transition: all 1s;
}

#slang *{
    margin: 0px;
    padding: 0px;
}

/*********************************
 * Tricks Cards
 ********************************/
 #trickCards {
    width: 100%;

    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    gap: var(--border-radius);
 }

.trickCard {
    aspect-ratio: 1 / 1;
    width: 100%;

    background-color: var(--color-gray);
    border-radius: var(--border-radius);
}

/*********************************
 * Logo An
 ********************************/
 #logoAn {
    position: relative;
    left: -50%;
 }