/*********************************
 * Header
 ********************************/
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

/*** slang ***/
#slangs {
    height: 60px;
    overflow: hidden;
}

#slang {
    position: relative;
    top: 0px;

    display: flex;
    flex-direction: column;
    gap: 0px;

    /* Chati Background */
    background: linear-gradient(45deg, #0A369D 0%, #92B4F4 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;

    transition: all 1s;
}

#slang * {
    margin: 0px;
    padding: 0px;
}

/*********************************
 * Tricks Cards
 ********************************/
#trickCards {
    width: 100%;

    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    gap: var(--border-radius);
}

.trickCard {
    aspect-ratio: 1 / 1;
    width: 100%;

    background-color: var(--color-gray);
    border-radius: var(--border-radius);

    position: relative;
    overflow: hidden;
}

.trickCard h1,
.trickCard .text {
    color: var(--color-white) !important;
}

.trickCard img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: all 0.5s;
}

/* Hover efekt */
.trickCard:hover img {
    transform: scale(1.1);
}

.trickCard:hover .layer {
    height: 100%;
}

/* (over-)Layer */
.layer {
    height: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 10px;

    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5%;

    padding: 0% 10%;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

/*********************************
 * Logo An
 ********************************/
#logoAn {
    position: relative;
    left: -50%;
    margin-bottom: var(--margin-bottom);
}

/*********************************
 * Perks
 ********************************/
#perks {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: start;
}

/*** perk ***/
.perk {
    width: 30%;
}

.perk h3 {
    margin-bottom: 2%;
}

.perk-box {
    background-color: var(--color-light-blue);
    display: flex;
    justify-content: center;
    align-items: center;


    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius);

    margin-bottom: 5%;
}

/* icon */
.perk-box i {
    transform: scale(12);
    color: white;
    margin: 0px;
    padding: 0px;
    transition: all 0.3s ease;
}

.perk:hover .perk-box i {
    transform: scale(13);
    /* größer werden */
    color: var(--color-primary-blue);
    /* Farbe ändern */
}

/*********************************************************************************************************************************
 * Responsive
 ********************************************************************************************************************************/
/********** Tablet **********/
@media (max-width: 1199px) {}

/********** Handy **********/
@media (max-width: 809px) {

    /**********************
     * header
     *********************/
    #headerAni {
        transform: scale(0.6);
        width: 200%;
    }

    /*********************************
    * Perks
    ********************************/
    #perks {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    /*** perk ***/
    .perk {
        width: 100%;
    }

    .perk h3 {
        margin-bottom: 2%;
    }

    .perk-box {
        background-color: var(--color-light-blue);
        display: flex;
        justify-content: center;
        align-items: center;


        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: var(--border-radius);

        margin-bottom: 5%;
    }

    /* icon */
    .perk-box i {
        transform: scale(12);
        color: white;
        margin: 0px;
        padding: 0px;
        transition: all 0.3s ease;
    }

    .perk:hover .perk-box i {
        transform: scale(13);
        /* größer werden */
        color: var(--color-primary-blue);
        /* Farbe ändern */
    }

    /*********************************
    * Tricks Cards
    ********************************/
    #trickCards {
        grid-template-columns: 95%;
    }

    #logoAn *{
        font-size: 50px !important;
    }
}