/*********************************
 * Fonts
 ********************************/
 /*** Inter ***/
@font-face {
    font-family: Inter;
    src: url(fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

/*** Inter ***/
@font-face {
  font-family: "IBM Plex Mono";
  src: url("./fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("./fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("./fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*********************************
 * Allgemeines
 ********************************/
:root{
    /***** Farben *****/
    /*** Standart ***/
    --color-darker-white: #FAFAFA;
    --color-primary-blue: #0A369D;
    --color-secondary-blue: #4472CA;
    --color-tertiary-blue: #5E7CE2;
    --color-gray: #888888;
    --color-black: #000000;
    --color-white: #ffffff;

    /***** Fonts *****/
    --font-inter: Inter;
    --font-IBM: "IBM Plex Mono";
    --font-size-xl: 32px;
    --font-size-l: 27px;
    --font-size-m: 22px;
    --font-size-s: 18px;
    --font-letterspacing:25%;

    /***** Boxen *****/
    --border-radius: 10px;
    --container-width: 960px;
}

* {
    box-sizing: border-box;
}

body, html{
    margin: 0px;
    padding: 0px;
    background-color: var(--color-white);
}

/*********************************
 * logo
    <div class="logo">
        Snow<span>trickr®</span>
    </div>
 ********************************/
 .logo{
    color: var(--color-black);

    font-family: var(--font-IBM);
    font-weight: bold;
    font-size: var(--font-size-s);

    display: flex;
    gap: 0px;
 }

.logo span {
  color: var(--color-primary-blue);
}

/*********************************
 * Boxen
 ********************************/
/** nav **/
#nav {

}

 /** Container **/
 #container {
    width: var(--container-width);
    margin: 0px auto;
 }