/******************************
 * profile
 *****************************/
#profile {
    padding-top: var(--margin-bottom-small);
}

/******************************
 * info
 *****************************/
#info {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin-bottom-small);
}

/*** logout ***/
#logout {
    text-decoration: none;
    color: var(--color-primary-blue);
    opacity: 0.8;

    transition: all 0.25s;
}

#logout:hover {
    opacity: 1;
    font-weight: bold;
}

/******************************
 * progresses
 *****************************/
#progresses {
    display: flex;
    justify-content: space-around;
    margin-bottom: var(--margin-bottom);
}

#progresses h1 {
    color: var(--color-primary-blue);
}

/*** progress***/
.progress {
    width: 25%;
    text-align: center;
}

/******************************
 * last Tricks
 *****************************/
#lastTricks {
    padding: 2% 25%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.light-padding {
    padding: 0% 10%;
    font-size: var(--font-size-m);
}

/*** trick ***/
.trick {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.25s;

    user-select: none;
    cursor: pointer;

    text-decoration: none;
}
.trick:hover{
    transform: scale(1.1);
}

/******************************
 * delete
 *****************************/
#deleteButton{
    color: lightcoral;
    cursor: pointer;
    user-select: none;
    transition: all 0.25s;
}
#deleteButton:hover{
    font-weight: bold;
}

/*********************************************************************************************************************************
 * Responsive
 ********************************************************************************************************************************/
/********** Tablet **********/
@media (max-width: 1199px) {
/******************************
    * progresses
    *****************************/
    /*** progress***/
    .progress {
        width: 50%;
        text-align: center;
    }

    /******************************
    * last Tricks
    *****************************/
    #lastTricks {
        padding: 2% 20%;

        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .light-padding {
        padding: 0% 15%;
    }

}

/********** Handy **********/
@media (max-width: 809px) {
    /******************************
    * progresses
    *****************************/
    #progresses {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    /*** progress***/
    .progress {
        width: 50%;
        text-align: center;
    }

    /******************************
    * last Tricks
    *****************************/
    #lastTricks {
        padding: 2% 3%;

        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .light-padding {
        padding: 0% 1%;
    }
}