/***************************
 * overview
 **************************/
#overview {
    padding-top: var(--margin-bottom-small);
}

/***** header *****/
#header {
    text-align: center;
    margin-bottom: var(--margin-bottom-mid);
}

/*** trick-bar ***/
#trick-bar {
    display: flex;
    justify-content: space-between;
    padding: 0% var(--border-radius);
}

/* status */
.status {
    display: flex;
    gap: 20px;
    color: var(--color-gray);
}

.status-opt {
    text-decoration: none;
    color: var(--color-gray);
}

/***************************
 * detail
 **************************/
#detail {
    padding: 0 20%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

/***** steps *****/
.steps {
    width: 90%;
    margin: 0 auto;

}

.step {
    display: flex;
    gap: 10px;
}

.step sub {
    font-weight: bold;
    color: var(--color-primary-blue);
}

/***************************
 * feed
 **************************/
#feed {
    margin-bottom: var(--margin-bottom-small);
}

/***** info *****/
.info {
    display: flex;
    flex-direction: column;
    gap: var(--border-radius);

    margin-bottom: var(--margin-bottom-small);
}

/***** cards *****/
#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*** card ***/
.card {
    width: 32%;
    margin: 0 auto;
}

.card-info {
    padding: 0 var(--border-radius);

    display: flex;
    justify-content: space-between;
}

.card-name {
    font-weight: bold;
    color: var(--color-black);
}

/*********************************************************************************************************************************
 * Responsive
 ********************************************************************************************************************************/
/********** Tablet **********/
@media (max-width: 1199px) {

    /***************************
    * detail
    **************************/
    #detail {
        padding: 0 10%;
    }
}

/********** Handy **********/
@media (max-width: 809px) {

    /***************************
    * overview
    **************************/

    /*** trick-bar ***/
    #trick-bar {
        flex-direction: column;
        gap: 5px;
    }

    /***************************
    * detail
    **************************/
    #detail {
        padding: 0 5%;
    }

    /***************************
    * feed
    **************************/
    /***** cards *****/
    #cards { 
        gap: 30px;
    }
    /*** card ***/
    .card {
        width: 90%;
    }
}